<div class="h-full w-full flex flex-col pt-3 px-3 bg-[#F6EFEE]">
  @if(messages.length === 0){
  <p class="w-full text-center bg-gray-500 text-white">No messages here</p>
  }

  <div class="basis-[94%] flex flex-col mb-3 py-3 bg-white rounded-md overflow-y-auto">
    @for(message of messages; track message.timestamp){
    <ul class="flex px-5" [ngClass]="
        message.senderId === getCurrentObjectId()
          ? 'justify-end flex-row-reverse'
          : 'justify-start flex-row'
      ">
      <li class="w-11 rounded-full">
        @if($first || messages[$index].senderId !==
        messages[$index-1].senderId){
        <img src="./assets/user.jpg" class="rounded-full" />
        }
      </li>
      <li class="w-full flex flex-col">
        <div class="w-full flex text-xl" [ngClass]="
            message.senderId === getCurrentObjectId()
              ? 'justify-end pr-2'
              : 'justify-start pl-2'
          ">
          @if($first || messages[$index].senderId !== messages[$index -
          1].senderId){
          <p>
            {{
            message.senderId === senderUser?.objectId
            ? senderUser?.firstName
            : receiverUser?.firstName
            }}
            {{
            message.senderId === senderUser?.objectId
            ? senderUser?.lastName
            : receiverUser?.lastName
            }}
          </p>
          }
        </div>
        <div class="flex items-center select-text" [ngClass]="
            message.senderId === getCurrentObjectId()
              ? 'pr-2 flex-row-reverse'
              : 'flex-row pl-2'
          ">
          <p class="text-lg font-light">
            {{ message.messageText }}
          </p>
          <p class="ml-2 font-light text-xs px-2">
            {{ message.timestamp | date : "hh:mm aa" }}
          </p>
        </div>
      </li>
    </ul>
    } @empty{ }
  </div>
  <div class="basis-[6%] flex mb-3 items-center bg-white rounded-md">
    <mat-form-field class="basis-[95%] w-full h-full" subscriptSizing="dynamic" appearance="outline">
      <mat-label>Message</mat-label>
      <input matInput placeholder="Type a message" [(ngModel)]="text" (keydown.enter)="sendMessage()" />
    </mat-form-field>

    <div class="basis-[5%] flex items-center p-2">
      <button (click)="sendMessage()" class="flex items-center">
        <mat-icon class="cursor-pointer" color="#F6EFEE">send</mat-icon>
      </button>
    </div>
  </div>
</div>