.mat-icon {
    width: 100% !important;
    height: 100% !important;
    font-size: 24px !important;
    align-content: center;
    text-align: center;
}

.mat-icon-two{
    font-size: 16px !important;
    align-content: center;
    text-align: center;
}

