<div class="h-full w-screen select-none bg-white">
  <header class="header flex justify-between items-center p-6">
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#facc15"
        height="72px"
        width="72px"
        version="1.1"
        id="Capa_1"
        viewBox="0 0 60 60"
        xml:space="preserve"
      >
        <path
          d="M30,1.5c-16.542,0-30,12.112-30,27c0,5.205,1.647,10.246,4.768,14.604c-0.591,6.537-2.175,11.39-4.475,13.689  c-0.304,0.304-0.38,0.769-0.188,1.153C0.276,58.289,0.625,58.5,1,58.5c0.046,0,0.093-0.003,0.14-0.01  c0.405-0.057,9.813-1.412,16.617-5.338C21.622,54.711,25.738,55.5,30,55.5c16.542,0,30-12.112,30-27S46.542,1.5,30,1.5z"
        />
      </svg>
      <p class="text-3xl ml-2">Chat</p>
    </div>
    <div class="create-account flex items-center">
      <p class="create-account-text mr-2">New to Chat?</p>
      <button
        class="border border-gray-300 rounded-xl btn px-3 py-1 hover:bg-slate-100 hover:border-slate-300"
        routerLink="/signup"
        routerLinkActive="active"
      >
        Create an account
      </button>
    </div>
  </header>
  <div
    class="login-div w-[384px] h-1/2 flex flex-col justify-evenly ml-auto mr-auto absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
  >
    <div>
      <!-- deal function that set to data-callback is in index file -->
      <div
        id="g_id_onload"
        [attr.data-client_id]="googleToken + '.apps.googleusercontent.com'"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="deal"
        data-auto_prompt="false"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="filled_blue"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
        data-width="384"
      ></div>
      @if (tryEmail) {
        <p class="text-red-600">Try login using Email, not Google</p>
      }
    </div>

    <div class="flex justify-between items-center">
      <mat-divider class="w-[45%]"></mat-divider>
      <p class="select-none">OR</p>
      <mat-divider class="w-[45%]"></mat-divider>
    </div>
    <form class="flex flex-col justify-between gap-4" [formGroup]="loginGroup">
      <div class="grid grid-rows-[1fr_3rem,1fr]">
        <label>Email</label>
        <input
          class="font-light h-12 px-2 py-2 border-2 border-gray-300 outline-none rounded-xl focus:border-yellow-400 w-full"
          formControlName="email"
          autocomplete="email"
          placeholder="Enter an email"
        />

        @if (
          loginGroup.controls.email.invalid && loginGroup.controls.email.touched
        ) {
          <p class="text-xs text-red-600">Enter a valid email</p>
        }
      </div>

      <div class="grid grid-rows-[1fr_3rem_1fr]">
        <label>Password</label>
        <div class="relative">
          <input
            class="w-full font-light h-12 px-2 py-2 border-2 border-gray-300 outline-none rounded-xl focus:border-yellow-400"
            [type]="isPasswordVisible ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
            autocomplete="current-password"
            id="dd"
          />
          <button
            class="absolute h-full -right-0 -top-0 mr-2"
            (click)="makePasswordVisible()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              version="1.1"
              id="Capa_1"
              width="24px"
              height="24px"
              viewBox="0 0 442.04 442.04"
              xml:space="preserve"
            >
              <g>
                <g>
                  <path
                    d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203    c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219    c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367    c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021    c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212    c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071    c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z"
                  />
                </g>
                <g>
                  <path
                    d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188    c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993    c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5    s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z"
                  />
                </g>
                <g>
                  <path
                    d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z"
                  />
                </g>
              </g>
            </svg>
          </button>
        </div>

        @if (
          loginGroup.controls.password.invalid &&
          loginGroup.controls.password.touched
        ) {
          <p class="text-xs text-red-600">
            Password must be at least 8 characters !
          </p>
        }
      </div>

      <button
        class="btn bg-slate-900 text-white rounded-xl hover:bg-slate-800"
        (click)="onSubmitLogin()"
      >
        Login
      </button>
    </form>

    @if (loading) {
      <div
        class="absolute w-full bg-white h-full flex items-center justify-center bg-opacity-50"
      >
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    }
  </div>
</div>
