<div class="h-full w-full bg-white">
  <div class="flex justify-between items-center p-6">
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#16a34a"
        height="72px"
        width="72px"
        version="1.1"
        id="Capa_1"
        viewBox="0 0 60 60"
        xml:space="preserve"
      >
        <path
          d="M30,1.5c-16.542,0-30,12.112-30,27c0,5.205,1.647,10.246,4.768,14.604c-0.591,6.537-2.175,11.39-4.475,13.689  c-0.304,0.304-0.38,0.769-0.188,1.153C0.276,58.289,0.625,58.5,1,58.5c0.046,0,0.093-0.003,0.14-0.01  c0.405-0.057,9.813-1.412,16.617-5.338C21.622,54.711,25.738,55.5,30,55.5c16.542,0,30-12.112,30-27S46.542,1.5,30,1.5z"
        />
      </svg>
      <p class="text-3xl ml-2">Chat</p>
    </div>
    <div class="flex items-center">
      <p class="mr-2">New to Chat?</p>
      <button
        class="border border-gray-300 rounded-md px-2 py-1"
        routerLink="/signup"
        routerLinkActive="active"
      >
        Create an account
      </button>
    </div>
  </div>
  <div
    class="w-2/6 h-1/2 flex flex-col justify-center ml-auto mr-auto absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
  >
    <form
      class="h-3/6 flex flex-col justify-between"
      [formGroup]="loginGroup"
      (ngSubmit)="onSubmitLogin()"
    >
      <div class="flex flex-col">
        <label class="text-xl font-bold">Email</label>
        <input
          class="text-xl font-light h-9 px-2 border border-gray-300 outline-none rounded-md focus:border-blue-600"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-xl font-bold">Password</label>
        <input
          class="text-xl font-light h-9 px-2 border border-gray-300 outline-none rounded-md focus:border-blue-600"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>

      <button class="bg-green-600 text-white h-9 text-xl font-light rounded-md">
        Login
      </button>
    </form>
  </div>
</div>
