<div class="flex flex-col h-screen">
  <header class="py-2 bg-slate-900">
    <div
      class="w-full h-14 flex items-center rounded-full overflow-hidden px-4 gap-2"
    >
      @if (isSmallScreen) {
        <a class="flex items-center" routerLink="/"
          ><mat-icon
            fontIcon="arrow_back"
            class="material-symbols-rounded text-white!"
          ></mat-icon
        ></a>
      }

      @if (receiverUserLoading) {
        <div class="w-11 h-11 flex justify-center items-center">
          <mat-spinner class="loading" [diameter]="40"></mat-spinner>
        </div>
      } @else {
        <div class="w-11 h-11 rounded-full overflow-hidden bg-white">
          <img
            [src]="
              receiverUser?.profilePictureLink
                ? receiverUser?.profilePictureLink
                : './assets/user.png'
            "
            class="h-full w-full object-cover"
          />
        </div>
        <p class="ml-2 text-xl text-white">
          {{ receiverUser?.firstName }} {{ receiverUser?.lastName }}
        </p>
      }
    </div>
  </header>
  <main #main class="w-full flex flex-col grow overflow-y-auto">
    @if (messages.length === 0 && !loading) {
      <p class="w-full text-center bg-gray-500 text-white">No messages here</p>
    }
    @if (loading) {
      <div class="w-full flex justify-center grow items-center">
        <mat-spinner class="loading" [diameter]="50"></mat-spinner>
      </div>
    } @else {
      <div class="basis-full flex flex-col py-3 bg-slate-100">
        @for (msg of messages; track msg.timestamp) {
          <ul class="flex flex-col px-5">
            @if (
              $first ||
              calculateOneDay(msg.timestamp, messages[$index - 1].timestamp)
            ) {
              <li class="flex justify-center">
                <p class="rounded-2xl bg-white border px-4 py-2 my-2">
                  {{ whichDay(msg.timestamp) | datePipe }}
                </p>
              </li>
            }
            <li
              class="w-full flex flex-col"
              [class]="
                msg.senderId == getCurrentObjectId()
                  ? 'items-end'
                  : 'items-start'
              "
            >
              <div
                class="flex flex-col gap-2 select-text rounded-xl shadow-xs border border-gray-200 shadow-gray-200 py-2 px-4"
                [class]="
                  msg.senderId == getCurrentObjectId()
                    ? 'bg-slate-900'
                    : 'bg-white'
                "
              >
                @if (msg.messageText.length) {
                  <p
                    class="text-lg font-light"
                    [class.text-white]="msg.senderId == getCurrentObjectId()"
                  >
                    {{ msg.messageText }}
                  </p>
                }
                @if (msg.imageUrl && msg.imageUrl.length) {
                  <div
                    class="flex max-w-100 max-h-100"
                    [class]="
                      msg.senderId == getCurrentObjectId()
                        ? ['justify-end']
                        : ['justify-start']
                    "
                  >
                    <img
                      class="h-full w-full object-cover"
                      [src]="msg.imageUrl"
                    />
                  </div>
                }
                <p
                  class="font-light text-xs"
                  [class]="
                    msg.senderId == getCurrentObjectId()
                      ? 'text-gray-300'
                      : 'text-gray-600'
                  "
                >
                  {{ msg.timestamp * 1000 | date: "hh:mm aa" }}
                </p>
              </div>
            </li>
          </ul>
        } @empty {}
      </div>
    }
  </main>

  <footer class="flex relative p-2 gap-2">
    <div class="grow">
      <input
        placeholder="Type a message"
        class="input-style"
        [(ngModel)]="text"
        (keydown.enter)="sendMessage()"
      />
      @if (file) {
        <div class="relative w-[20%] h-[20%]">
          <button
            class="absolute right-0 mt-1 mr-1 w-7 h-7 cursor-pointer border border-gray-500 rounded-full border-solid overflow-hidden"
            (click)="removeImage()"
            type="button"
          >
            <mat-icon
              class="material-symbols-rounded"
              fontIcon="close"
            ></mat-icon>
          </button>
          <img class="w-full h-full object-contain" [src]="imageUrl" />
        </div>
      }
    </div>
    <div class="flex gap-2 justify-between">
      <button>
        <input
          class="hidden"
          type="file"
          id="inputFile"
          #inputFile
          (change)="onImageAdded($event)"
          accept="image/*"
          [disabled]="sending"
        />
        <label
          class="right-0 flex items-center"
          [class.cursor-pointer]="!sending"
          [class.cursor-not-allowed]="sending"
          for="inputFile"
          ><mat-icon
            class="material-symbols-rounded"
            fontIcon="attach_file"
          ></mat-icon
        ></label>
      </button>
      <button
        class="flex items-center cursor-pointer disabled:cursor-not-allowed"
        (click)="sendMessage()"
        [disabled]="sending"
      >
        <mat-icon
          class="material-symbols-rounded"
          [class.cursor-poiner]="sending"
          color="#F6EFEE"
          >send</mat-icon
        >
      </button>
    </div>
  </footer>
</div>
