.mat-icon {
  height: 2.25rem;
  width: 2.25rem;
}

.selected-section {
 /* @apply border-2 rounded-3xl from-red-500 to-yellow-500 bg-gradient-to-t;*/

  .icon-div {
    background-color: var(--color-gray-300);
  }
}
