<div
  class="h-full w-screen select-none bg-slate-100 flex items-center justify-center px-8"
>
  <main
    class="login-div gap-8 flex flex-col justify-evenly bg-white shadow-2xl rounded-xl p-8 basis-full md:basis-1/2"
  >
    <app-logo></app-logo>
    <p class="text-center text-gray-500 font-light">Join Chat today</p>
    <form class="flex flex-col justify-between gap-4" [formGroup]="signUpForm">
      <div class="flex gap-4">
        <div class="grid grid-rows-[1fr_3rem_1fr] basis-1/2">
          <label>First Name</label>
          <input
            class="font-light h-12 px-2 py-2 border-2 border-gray-300 outline-hidden rounded-xl focus:border-yellow-400 w-full"
            placeholder="First Name"
            formControlName="firstName"
          />
          @if (
            signUpForm.controls.firstName.touched &&
            signUpForm.controls.firstName.invalid
          ) {
            <p class="text-xs text-red-600">First Name is required</p>
          }
        </div>
        <div class="grid grid-rows-[1fr_3rem_1fr] basis-1/2">
          <label>Last Name</label>
          <input
            class="font-light h-12 px-2 py-2 border-2 border-gray-300 outline-hidden rounded-xl focus:border-yellow-400 w-full"
            placeholder="Last Name"
            formControlName="lastName"
          />
           @if (
            signUpForm.controls.lastName.touched &&
            signUpForm.controls.lastName.invalid
          ) {
            <p class="text-xs text-red-600">Last Name is required</p>
          }
        </div>
      </div>
      <div class="grid grid-rows-[1fr_3rem_1fr]">
        <label>Email</label>
        <input
          class="font-light h-12 px-2 py-2 border-2 border-gray-300 outline-hidden rounded-xl focus:border-yellow-400 w-full"
          formControlName="email"
          autocomplete="email"
          placeholder="Enter an email"
        />

        @if (
          signUpForm.controls.email.invalid && signUpForm.controls.email.touched
        ) {
          <p class="text-xs text-red-600">Enter a valid email</p>
        }
      </div>

      <div class="grid grid-rows-[1fr_3rem_1fr]">
        <label>Password</label>
        <div>
          <input
            class="w-full font-light h-12 px-2 py-2 border-2 border-gray-300 outline-hidden rounded-xl focus:border-yellow-400"
            placeholder="Password"
            formControlName="password"
            autocomplete="current-password"
          />
        </div>

        @if (
          signUpForm.controls.password.invalid &&
          signUpForm.controls.password.touched
        ) {
          <p class="text-xs text-red-600">
            Password must be at least 8 characters !
          </p>
        }
      </div>
      <div class="grid grid-rows-[1fr_3rem_1fr]">
        <label>Password Confirmation</label>
        <div>
          <input
            class="w-full font-light h-12 px-2 py-2 border-2 border-gray-300 outline-hidden rounded-xl focus:border-yellow-400"
            placeholder="Password Confirmation"
            formControlName="password_confirmation"
            autocomplete="current-password"
          />
        </div>

        @if (
          signUpForm.controls.password_confirmation.invalid &&
          signUpForm.controls.password_confirmation.touched &&
          signUpForm.errors?.["confirmedValidator"]
        ) {
          <p class="text-xs text-red-600">Password doesn't match</p>
        }
      </div>

      <button
        class="btn bg-slate-900 text-white rounded-xl hover:bg-slate-800 cursor-pointer"
        (click)="onSubmit()"
      >
        Sign Up
      </button>
    </form>

    <ul class="flex font-light gap-1 text-sm justify-center">
      <li class="text-center">Already have an account?</li>
      <li class="text-center">
        <a class="text-yellow-500 font-semibold" routerLink="/login"
          >Login Instead</a
        >
      </li>
    </ul>
  </main>
</div>
