<div class="h-full bg-[#EEF2F1] px-5 pt-3">
  <div class="w-full">
    <input
      class="basis-[95%] w-full text-xl font-light px-2 border border-gray-300 outline-none rounded-md focus:border-blue-600"
      placeholder="Search"
      [(ngModel)]="searchInput"
      (ngModelChange)="findUsers()"
    />
  </div>
  <div
    class="flex flex-col-reverse basis-[94%] rounded-md p-5 mt-5 bg-green-600 cursor-pointer"
    *ngFor="let user of users"
    (click)="openChatWindow(user.objectId)"
  >
    <div class="flex">
      <div>
        <img src="./assets/re.png" class="h-11 w-11 rounded-full" />
      </div>
      <div class="flex flex-col pl-3 w-full text-white" >
        <div class="flex text-xl w-full justify-between items-center">
          <p>{{ user.firstName }} {{ user.lastName }}</p>
          <p class="font-light text-base">04:33 AM</p>
        </div>
        <p class="text-md">Hey guys check this out</p>
      </div>
    </div>
  </div>
</div>
