<div class="h-full w-full px-5 pt-3 bg-[#EEF2F1]">
  <div class="w-full">
    <input
      class="basis-[95%] w-full px-2 text-xl font-light border outline-none rounded-md border-gray-300  focus:border-blue-600"
      placeholder="Search for a user" [(ngModel)]="searchInput" (ngModelChange)="findUsers()" />
  </div>

  <ul class="basis-[94%] w-full flex flex-col mb:flex-row mb:overflow-x-auto">
    @for(user of users; track user.email){
    <li class="users-list flex flex-col-reverse p-5 mt-5 rounded-md cursor-pointer"
      (click)="openChatWindow(user.objectId, $index)">
      <div class="flex items-center">
        <div class="h-11 w-11 rounded-full">
          <img src="./assets/user.jpg" class="rounded-full" />
        </div>
        <div class="name-class min-w-48 flex flex-col items-center pl-3 text-gray-700">
          <p class="text-xl">{{ user.firstName }} {{ user.lastName }}</p>
        </div>
      </div>
    </li>

    } @empty{
      <p class="w-full text-center">No users</p>
     }


  </ul>

</div>