<div class="h-full px-5 pt-3 bg-[#EEF2F1]">
  <div class="w-full">
    <input
      class="basis-[95%] w-full px-2 text-xl font-light border outline-none rounded-md border-gray-300 focus:border-blue-600"
      placeholder="Search"
      [(ngModel)]="searchInput"
      (ngModelChange)="findUsers()"
    />
  </div>
  <div
    class="users-list basis-[94%] flex flex-col-reverse p-5 mt-5 rounded-md  cursor-pointer"
    *ngFor="let user of users; index as i"
    (click)="openChatWindow(user.objectId, i)"
  >
    <div class="flex">
      <div>
        <img src="./assets/re.png" class="h-11 w-11 rounded-full" />
      </div>
      <div class="name-class w-full flex flex-col justify-center pl-3 text-gray-700">
        <div class="w-full flex items-center text-xl">
          <p>{{ user.firstName }} {{ user.lastName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
