/*@media only screen and (max-width: 600px) {
  .home {
    position: relative;

    .menu{
      display: inline;
    }
  }
  div {
    app-users {
      position: absolute;
      height: 100%;
      left: -100%;
    }
    app-chat {
      flex-basis: 100%;
      background-color: red;
    }
  }
}
*/