<aside class="flex w-full h-full">
  <div
    class="h-full pt-3 bg-light-gray mb:basis-full"
    [ngClass]="closedChat ? 'basis-full mb:w-full' : 'basis-1/3 mb:hidden'"
  >
    <div class="w-full flex justify-center px-2 gap-2">
      @if (isSmallScreen) {
        <button
          class="flex items-center cursor-pointer"
          (click)="openSidenav()"
        >
          <mat-icon fontIcon="menu" class="material-symbols-rounded"></mat-icon>
        </button>
      }
      <div class="bg-white rounded-xl grow">
        <input
          class="input-style"
          [formControl]="searchFormControl"
          placeholder="Search for a user"
        />
      </div>
    </div>
    <ul class="basis-full w-full flex flex-col">
      @if (loading) {
        <div class="h-full w-full flex justify-center mt-3">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      } @else {
        @for (user of users; track trackByFn(user)) {
          <app-user-item
            (click)="openChatWindow(passUser(user).id, $index)"
            [user]="passUser(user)"
            [index]="$index"
            [selectedUserIndex]="selectedUserIndex"
          ></app-user-item>
        } @empty {
          <p class="w-full text-center">No users</p>
        }
      }
    </ul>
  </div>
  @if (!closedChat) {
    <section class="chat-section basis-2/3 mb:basis-full mb:w-full">
      <router-outlet />
    </section>
  }
</aside>
