<header class="h-16 w-full p-4 bg-light-gray hidden mb:block">
  <div class="flex items-center cursor-pointer" (click)="hideSettings()">
    <div class="h-8 w-8">
      <img src="./assets/back.png" />
      <div>a div</div>
    </div>
    <p class="ml-2 font-bold">Back</p>
  </div>
</header>

<main class="h-[calc(100%-4rem)] w-full bg-light-gray relative">
  <div
    class="flex justify-center items-center absolute w-full h-full"
    [ngClass]="loading ? 'block' : 'hidden'"
  >
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <form
    class="w-full h-full items-center flex flex-col justify-evenly"
    [formGroup]="infoGroup"
  >
    <div class="w-28 h-28 rounded-full overflow-hidden">
      <img
        class="h-full w-full object-cover"
        [src]="profileImageUrl !== '' ? profileImageUrl : './assets/user.png'"
      />
    </div>

    <label for="profile-picture">Change Profile Picture</label>
    <input
      class="bg-light-white"
      id="profile-picture"
      type="file"
      (change)="onImageAdded($event)"
    />

    <mat-form-field appearance="outline" class="w-[90%]">
      <mat-label class="text-xl font-bold">First name</mat-label>
      <input
        matInput
        class="w-full text-xl font-light h-9 px-2 border border-gray-300 outline-none rounded-md focus:border-blue-600"
        placeholder="First name"
        formControlName="firstName"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-[90%]">
      <mat-label class="text-xl font-bold">Last name</mat-label>
      <input
        matInput
        class="w-full text-xl font-light h-9 px-2 border border-gray-300 outline-none rounded-md focus:border-blue-600"
        placeholder="Last name"
        formControlName="lastName"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-[90%]">
      <mat-label class="text-xl font-bold">Email</mat-label>
      <input
        matInput
        class="w-full text-xl font-light h-9 px-2 border border-gray-300 outline-none rounded-md focus:border-blue-600"
        type="email"
        placeholder="email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-[90%]">
      <mat-label class="text-xl font-bold">Password</mat-label>
      <input
        matInput
        type="password"
        class="w-full text-xl font-light h-9 px-2 border border-gray-300 outline-none rounded-md focus:border-blue-600"
        formControlName="password"
      />
    </mat-form-field>

    <button
      mat-flat-button
      class="text-white h-9 text-xl font-light rounded-md w-[90%]"
      (click)="file ? saveProfilePictureChange() : updateInfos()"
    >
      Save
    </button>
  </form>
</main>
